<section class="card-container">
  <article class="card">
      <header class="card__title">
          <h3>Hello World</h3>
      </header>
      <figure class="card__thumbnail">
          <img src="http://placekitten.com/700/287">
      </figure>
      <main class="card__description">
          Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
      </main>
      <a href="#" class="button">Call to Action</a>
  </article>

  <article class="card">
    <header class="card__title">
        <h3>Hello World</h3>
    </header>
    <figure class="card__thumbnail">
        <img src="http://placekitten.com/700/287">
    </figure>
    <main class="card__description">
        Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
    </main>
    <a href="#" class="button">Call to Action</a>
  </article>

  <article class="card">
    <header class="card__title">
        <h3>Hello World</h3>
    </header>
    <figure class="card__thumbnail">
        <img src="http://placekitten.com/700/287">
    </figure>
    <main class="card__description">
        Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
    </main>
    <a href="#" class="button">Call to Action</a>
  </article>
</section>
