<div class="heading">
  <p>Central login for all binggl.net applications. "One login to rule them all".</p>
</div>

<section class="card-container">

  <article class="card" *ngFor="let item of userInfo?.sitePermissions">
      <header class="card__title">
          <h3><i class="fa fa-external-link" aria-hidden="true"></i> {{ item.name }}</h3>
      </header>
      <main class="card__description">
          <a href="{{ item.url }}">{{ item.url }}</a>
      </main>
      <footer>
        <span *ngFor="let perm of item?.permissions" class="permission">
            <i class="fa fa-hashtag" aria-hidden="true"></i>{{ perm }}
        </span>
      </footer>
  </article>

</section>
